body,
html {
  margin: 0;
  background-color: #f8f8f894;
}
html {
  font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', 'system-ui';
  }
}
* {
  box-sizing: border-box;
}
